@media screen and (orientation: portrait) {

    #gameContainer,
    #gameFrame {
        width: 100%;
        height: 100%;
        background-color: #000000;
        position: relative;
        z-index: 2;
    }

    #topContent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 0 0 0;
        background-color: #000000;
        height: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        z-index: 1;
        /* Set z-index to make it lower */
    }

    #topTextWrapper {
        /* background-color: white; White background */
        background: linear-gradient(to bottom, #c83ac1, #4c4cd2);
        /* Gradient background */
        padding: 0px;
        width: 100%;
        /* border-radius: 5px; Rounded corners */
    }

    #topText {
        color: #ffffff;
        /* Reddish text color */
        font-size: 12px;
    }
}

@media screen and (orientation: landscape) {
    body {
        margin: 0;
        padding: 0;
        /* background-image: url('BackGround.png'); */
        background-color: #000000;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #gameContainer {
        width: 100%;
        height: 100%;
        background-color: #000000;
        position: relative;
    }

    #gameFrame {
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: #000000;
        transition: opacity 2s;
        position: relative;
        z-index: 2;
    }

    #topContent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #000000;
        margin: -6px 0 0 0;
        height: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        /* Set z-index to make it lower */
    }

    #topTextWrapper {
        /* background-color: white; White background */
        background: linear-gradient(to bottom, #c83ac1, #4c4cd2);
        /* Gradient background */
        padding: 20px;
        width: 100%;
        /* border-radius: 5px; Rounded corners */
    }

    #topText {
        color: #ffffff;
        /* Reddish text color */
        font-size: 12px;
    }
}

#splashScreen {
    transition: opacity 2s;
    /* Smooth transition for the splash screen */
    opacity: 1;
    /* Start fully visible */
}

#splashIcon {
    text-align: center;
    /* Center the icon horizontally */
}

#splashIcon img {
    width: 60%;
    /* Set the desired width */
    height: 60%;
    /* Set the desired height */
}